<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-employee-heading"
        data-cy="EmployeeCreateUpdateHeading"
        jhiTranslate="demoJhAngular870App.employee.home.createOrEditLabel"
      >
        Créer ou éditer un Employee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="demoJhAngular870App.employee.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_firstName"
            [ngbTooltip]="'demoJhAngular870App.employee.help.firstName' | translate"
            jhiTranslate="demoJhAngular870App.employee.firstName"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="demoJhAngular870App.employee.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="demoJhAngular870App.employee.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('email')?.errors?.pattern) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }"
                  >Ce champ doit suivre l&apos;expression régulière Email.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phoneNumber" jhiTranslate="demoJhAngular870App.employee.phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hireDate" jhiTranslate="demoJhAngular870App.employee.hireDate">Hire Date</label>
          <div class="d-flex">
            <input
              id="field_hireDate"
              data-cy="hireDate"
              type="datetime-local"
              class="form-control"
              name="hireDate"
              formControlName="hireDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_salary" jhiTranslate="demoJhAngular870App.employee.salary">Salary</label>
          <input type="number" class="form-control" name="salary" id="field_salary" data-cy="salary" formControlName="salary" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commissionPct" jhiTranslate="demoJhAngular870App.employee.commissionPct"
            >Commission Pct</label
          >
          <input
            type="number"
            class="form-control"
            name="commissionPct"
            id="field_commissionPct"
            data-cy="commissionPct"
            formControlName="commissionPct"
          />
        </div>

        @let levelRef = editForm.get('level')!;
        <div class="mb-3">
          <label class="form-label" for="field_level" jhiTranslate="demoJhAngular870App.employee.level">Level</label>
          <input type="number" class="form-control" name="level" id="field_level" data-cy="level" formControlName="level" />
          @if (levelRef.invalid && (levelRef.dirty || levelRef.touched)) {
            <div>
              @if (editForm.get('level')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Ce champ doit être supérieur à 1.</small
                >
              }
              @if (editForm.get('level')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '14' }"
                  >Ce champ doit être inférieur à 14.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('level')?.errors?.number" jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contract" jhiTranslate="demoJhAngular870App.employee.contract">Contract</label>
          <select class="form-control" name="contract" formControlName="contract" id="field_contract" data-cy="contract">
            <option [ngValue]="null">{{ 'demoJhAngular870App.Contract.null' | translate }}</option>
            @for (contract of contractValues; track $index) {
              <option [value]="contract">{{ 'demoJhAngular870App.Contract.' + contract | translate }}</option>
            }
          </select>
        </div>

        @let cvRef = editForm.get('cv')!;
        <div class="mb-3">
          <label class="form-label" for="field_cv" jhiTranslate="demoJhAngular870App.employee.cv">Cv</label>
          <div>
            @if (cvRef.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(cvRef.value!, editForm.get('cvContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Ouvrir</a
                ><br />
                <span class="pull-start">{{ editForm.get('cvContentType')!.value }}, {{ byteSize(cvRef.value!) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ cv: undefined, cvContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input type="file" id="file_cv" data-cy="cv" (change)="setFileData($event, 'cv', false)" jhiTranslate="entity.action.addblob" />
          </div>
          <input type="hidden" class="form-control" name="cv" id="field_cv" data-cy="cv" formControlName="cv" />
          <input type="hidden" class="form-control" name="cvContentType" id="field_cvContentType" formControlName="cvContentType" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_manager" jhiTranslate="demoJhAngular870App.employee.manager">Manager</label>
          <select
            class="form-control"
            id="field_manager"
            data-cy="manager"
            name="manager"
            formControlName="manager"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <option [ngValue]="employeeOption">{{ employeeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_department" jhiTranslate="demoJhAngular870App.employee.department">Department</label>
          <select
            class="form-control"
            id="field_department"
            data-cy="department"
            name="department"
            formControlName="department"
            [compareWith]="compareDepartment"
          >
            <option [ngValue]="null"></option>
            @for (departmentOption of departmentsSharedCollection; track $index) {
              <option [ngValue]="departmentOption">{{ departmentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
